/* site.css -- site-wide styles for sbml.org */

/* Font definitions. */

/* 13px seems to be approximately what "medium" turns into. */
/* 20px works for h1 */
/* 16px works for h2 */
/* 14px works for h2 */

/* General style definitions. */

body {
   font-family: Arial, Geneva, Helvetica, Sans, sans-serif;
   font-size: 13px;
   background-color: white;
   margin: 13px;
}

p {
   font-family: Arial, Geneva, Helvetica, Sans, sans-serif;
   font-size: 13px;
   padding: 0;
   margin: 0.8em 0 0.9em 0;
}

a:link {
   /* color: #1155aa; */
   color: #0055aa;
   text-decoration: none;
}

a:visited {
   /* color: #77aaff; */
   color: #99bbdd;
   text-decoration: none;
}

a:hover {
   color: #ff0090;
   text-decoration: underline;
}

td {
   font-family: Arial, Geneva, Helvetica, Sans, sans-serif;
   font-size: 13px;
}

li {
   font-size: 13px;
   margin: 0;
   font-family: Arial, Geneva, Helvetica, Sans, sans-serif;
}

h1 {
   margin: 1em 0 0.5em 0;
   color: black;
   font-size: 20px;
   font-weight: bold;
   clear: left;
   font-family: Sans, 'Lucida Grande', Arial, Geneva, Helvetica, sans-serif;
}

h1.first {
   margin-top: 0;
}

h2 {
   font-size: 16px;
   margin-top: 0.2em;
   margin-bottom: 0.7em;
   padding: 0;
   clear: left;
   font-family: Sans, 'Lucida Grande', Arial, Geneva, Helvetica, sans-serif;
}

h2.first {
   margin-top: 0;
}

h3 {
   margin: 0 0 0.4em 0;
   padding: 0;
   font-size: 14px;
   font-style: italic;
   font-weight: normal;
   font-family: Sans, 'Lucida Grande', Arial, Geneva, Helvetica, sans-serif;
}

div#top {
   position: relative;
   width: 100%;
   top: 0px;
   padding-bottom: 2px;
   margin: 5px 0 8px 0;
}

p#navbar {
   width: 100%;
   color: white;
   text-align: center;
   background-color: #0155a5;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 5px;
   margin-bottom: 2px;
   padding: 4px 0 5px 0;
   line-height: 13px;
}

p#navbar a {
   color: white;
   font-weight: bold;
   font-size: 10px;
   text-decoration: none;
}

p#navbar a:hover {
   color: #ff50a0;
   text-decoration: underline;
}

#top p.sitelogo {
   padding: 4px;
   margin-top: 3px;
   margin-bottom: 3px;
}

#top p.sitelogo img {
   border: none;
}

input	{
   color: #000033;
   background-color: #cad8f8;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-weight: normal;
}

div#left {
  float: left;
  width: 50%;
  margin: 0px 5px 15px 0px;
}

div#right {
  float: right;
  width: 47%;
  margin: 0px 0px 15px 0px;
}

div#wiki-message {
  font-family: Times, Times Roman, Times New Roman, serif;
  font-size: medium;
  background-color: #fafad2;
  border: solid 2px black;
  padding: 4px 8px 4px 8px;
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 7px;
  margin-right: 7px;
}

div#wiki-message h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div#wiki-message p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

div#wiki-content {
  font-family: Times, Times Roman, Times New Roman, serif;
  font-size: medium;
  background: white;
  border: solid 2px #999999;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
}

div#wiki-message input[type="text"] {
   background-color: white;
}
