/* home.css: special styles for the sbml.org home page */

ul { 
   margin-left: 1em;
}

p { 
   line-height: 1.2;
}

div.applications {
   display: block;
   width: 100%;
   clear: both;
   padding-top: 0px;
   margin-top: 0px;
   margin-left: 1em;
}

.applications p {
   margin-top: 0;
   padding-top: 0;
   clear: both;
}

.applications ul {
   float: left;
   list-style-type: none;
   margin: 0 2em 1em 0;
   padding: 0;
}

.applications li {
   margin: 0;
   list-style-type: none;
   padding: 0;
}
